MicroApplication/.vs/
MicroApplication/BaseLibrary.Tests/bin/
MicroApplication/BaseLibrary.Tests/obj/
MicroApplication/BaseLibrary/bin/
MicroApplication/BaseLibrary/obj/
MicroApplication/MicroAppAPI/bin/
MicroApplication/MicroAppAPI/obj/
